body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main-div {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #333;
}

.timer-image {
  font-size: 24px;
  color: #888;
  margin-bottom: 20px;
  display: block;
}

.timer {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #c82333;
}

button {
  background-color: hsl(129, 100%, 50%);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2db300;
}

button:focus {
  outline: none;
}

button.stop-button {
  background-color: #dc3545;
}

button.stop-button:hover {
  background-color: #c82333;
}

button.reset-button {
  background-color: #6c757d;
}

button.reset-button:hover {
  background-color: #5a6268;
}
